[submodule "src/vendor/modernizr"]
	path = vendor/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "src/vendor/html5-boilerplate"]
	path = vendor/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "src/vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "src/vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "vendor/select-css"]
	path = vendor/select-css
	url = https://github.com/filamentgroup/select-css.git
