  <!-- build:section recursive head -->
  <!-- /build -->

    <!-- build:section recursive header -->
    <!-- /build -->

    <!-- build:process -->
    <main>
      <div class="container">
        <!-- content -->
        <!-- use <%= assets_path %> for images and other external resources in content -->
        <h1><%= title %> is ready!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at posuere eros. Proin ultrices vitae risus in mollis. Sed iaculis odio ut metus mollis, eu pharetra purus scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut metus quam, elementum accumsan nunc vel, rutrum ultrices ex. Mauris placerat, sapien ac vestibulum euismod, lorem eros cursus velit, pellentesque tempor diam felis in ipsum.</p>  
      </div><!-- /.container -->
    </main>
    <!-- /build -->

    <!-- build:section recursive footer -->
    <!-- /build -->

  <!-- build:section recursive foot -->
  <!-- /build -->