// Link buttons
// -------------------------

// Make a button look and behave like a link
.button-link(@color; @background; @border-color; @font-size: @font-size-base; @font-weight: normal; @line-height: @line-height-base; @border-radius: @border-radius-base) {
  .button(@color; @background; @border-color; @font-size; @font-weight; @line-height; @border-radius);

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: none;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @gray-light;
      text-decoration: none;
    }
  }
}


